@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

form {
  display: block;
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px #ddd;
  margin: 40px auto;
  max-width: 600px;
  max-height: 700px;
  padding: 25px 40px;
}

form input,
textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px auto;
  padding: 8px;
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}

form span.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

form button {
  height: 30px;
  width: 80px;
  align-items: center;
  border: none;
  background-color: rgb(80, 156, 97);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.modal-content {
  padding: 20px;
  border-radius: 4px;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
}

.modal-body {
  font-size: 16px;
}

.modal-footer .btn-primary {
  background-color: rgb(80, 156, 97);
  color: #fff;
  border-radius: 4px;
}
